/* タブレット */
@media (max-width: 1000px) {
 body{
     padding: 0;
     margin: 0;
 }
 
}




/* スマートフォン */
@media (max-width: 670px) {
    body{
        padding: 0;
        margin: 0;
    }
  .header{
    width: 100%;
  }
 
 .top-wrapper h1{
      font-size: 24px;
  }
 .top-wrapper h2{
  font-size: 18px
}
}
